<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <script>

        console.log(window.innerWidth);
        if (window.innerWidth < 1000){

            console.log(window.innerWidth);

            window.location.href = "exibition_mobile.html";

            console.log (window.location.pathname);

        }
    </script>
    <meta charset="UTF-8">
    <title>Event | FRATERNITY WITHOUT BORDERS</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112810572-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-112810572-1');
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<meta name="viewport" content="width = 1050, user-scalable = no" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is the who we are page, on this page you will be able to learn more about our charity and where do we come from">
        <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../js/fullPage.js-master/dist/jquery.fullpage.css">
        <link rel="stylesheet" type="text/css" href="../css/overlay.css">
        <link rel="stylesheet" type="text/css" href="../css/resolution_adjustments.css">
        <link rel="stylesheet" type="text/css" href="../css/font-awesome-4.7.0/css/font-awesome.css">


</head>
<body style="background:black;">
<nav >
    <div id="navigationbar">
        <a href="../" target="_blank">
            <img id="logo" src="../resources/logo.png" alt="Charity Logo" >
        </a>
        <h1 id="quote">one people, one heart</h1>
        <div id="menulist">
            <ul>
                <li><a href="contact.html">CONTACT<hr></a></li>
                <li><a href="http://www.fraternitywithoutbordersauction.co.uk/" target="_blank">artworks sale<hr></a></li>
                <li><a href="events.html">RECENT NEWS<hr></a></li>
                <li><a href="donate.html">DONATE<hr></a></li>
                <li><a href="our_work.html">OUR WORK<hr></a></li>
                <li><a href="who_we_are.html">WHO WE ARE<hr></a></li>
                <li><a href="../">HOME<hr></a></li>

            </ul>
        </div>
        <svg width="120" height="25" id="social_media">
            <a href="https://www.facebook.com/fraternitywithoutborders/"  target="_blank">
                <svg height="67px" id="Layer_1" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle cx="34" cy="34" fill="white" r="22"/>
      <path d="M29.765,50.32h6.744V33.998h4.499l0.596-5.624h-5.095  l0.007-2.816c0-1.466,0.14-2.253,2.244-2.253h2.812V17.68h-4.5c-5.405,0-7.307,2.729-7.307,7.317v3.377h-3.369v5.625h3.369V50.32z   M34,64C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#A71880;"/></svg>
            </a>
            <a href="https://uk.linkedin.com/company/fraternidade-sem-fronteiras" target="_blank">
                <svg height="67px" x="30"  id="Layer_4" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle cx="34" cy="34" fill="white" r="22"/>
      <path d="M50.837,48.137V36.425c0-6.275-3.35-9.195-7.816-9.195  c-3.604,0-5.219,1.983-6.119,3.374V27.71h-6.79c0.09,1.917,0,20.427,0,20.427h6.79V36.729c0-0.609,0.044-1.219,0.224-1.655  c0.49-1.22,1.607-2.483,3.482-2.483c2.458,0,3.44,1.873,3.44,4.618v10.929H50.837z M22.959,24.922c2.367,0,3.842-1.57,3.842-3.531  c-0.044-2.003-1.475-3.528-3.797-3.528s-3.841,1.524-3.841,3.528c0,1.961,1.474,3.531,3.753,3.531H22.959z M34,64  C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z M26.354,48.137V27.71h-6.789v20.427  H26.354z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#3396BB;"/></svg>
            </a>
            <a href="https://www.instagram.com/explore/tags/fraternitywithoutborders/?hl=en" target="_blank">
                <svg height="67px" x="60" id="Layer_2" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 130 130" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    	<circle cx="24" cy="24" fill="#E50748" r="22"/><path d="M31.2,12.3H16.8c-2.5,0-4.5,2-4.5,4.5v4.8v9.6c0,2.5,2,4.5,4.5,4.5h14.4c2.5,0,4.5-2,4.5-4.5v-9.6v-4.8  C35.7,14.3,33.7,12.3,31.2,12.3z M32.5,15l0.5,0v0.5V19l-4,0l0-4L32.5,15z M20.7,21.6c0.7-1,2-1.7,3.3-1.7s2.6,0.7,3.3,1.7  c0.5,0.7,0.8,1.5,0.8,2.4c0,2.3-1.9,4.1-4.1,4.1s-4.1-1.8-4.1-4.1C19.9,23.1,20.2,22.3,20.7,21.6z M33.4,31.2c0,1.2-1,2.2-2.2,2.2  H16.8c-1.2,0-2.2-1-2.2-2.2v-9.6h3.5c-0.3,0.7-0.5,1.6-0.5,2.4c0,3.5,2.9,6.4,6.4,6.4c3.5,0,6.4-2.9,6.4-6.4c0-0.8-0.2-1.7-0.5-2.4  h3.5V31.2z" fill="#FFFFFF"/></svg>
            </a>
        </svg>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="../">HOME</a>
                <a href="who_we_are.html">WHO WE ARE</a>
                <a href="our_work.html">OUR WORK</a>
                <a href="donate.html">DONATE</a>
                <a href="events.html">RECENT NEWS</a>
                <a href="http://www.fraternitywithoutbordersauction.co.uk/" target="_blank">artworks sale</a>
                <a href="contact.html">CONTACT</a>
                <svg width="120" height="25" id="social_media_2">
                    <a href="https://www.facebook.com/fraternitywithoutborders/"  target="_blank">
                        <svg width="120" height="25" id="social_media_2">
                            <a href="https://www.facebook.com/fraternitywithoutborders/"  target="_blank">
                                <svg height="67px" id="Layer_1" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="34" cy="34" fill="white" r="22"/>
          <path d="M29.765,50.32h6.744V33.998h4.499l0.596-5.624h-5.095  l0.007-2.816c0-1.466,0.14-2.253,2.244-2.253h2.812V17.68h-4.5c-5.405,0-7.307,2.729-7.307,7.317v3.377h-3.369v5.625h3.369V50.32z   M34,64C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#A71880;"/></svg>
                            </a>
                            <a href="https://uk.linkedin.com/company/fraternidade-sem-fronteiras" target="_blank">
                                <svg height="67px" x="30"  id="Layer_4" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="34" cy="34" fill="white" r="22"/>
          <path d="M50.837,48.137V36.425c0-6.275-3.35-9.195-7.816-9.195  c-3.604,0-5.219,1.983-6.119,3.374V27.71h-6.79c0.09,1.917,0,20.427,0,20.427h6.79V36.729c0-0.609,0.044-1.219,0.224-1.655  c0.49-1.22,1.607-2.483,3.482-2.483c2.458,0,3.44,1.873,3.44,4.618v10.929H50.837z M22.959,24.922c2.367,0,3.842-1.57,3.842-3.531  c-0.044-2.003-1.475-3.528-3.797-3.528s-3.841,1.524-3.841,3.528c0,1.961,1.474,3.531,3.753,3.531H22.959z M34,64  C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z M26.354,48.137V27.71h-6.789v20.427  H26.354z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#3396BB;"/></svg>
                            </a>
                            <!--<a href="https://twitter.com/" target="_blank">
                            <svg height="67px" x="60" id="Layer_2" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 130 130" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle cx="24" cy="24" fill="#FECD02" r="22"/><g><g><path d="M36.8,15.4c-0.9,0.5-2,0.8-3,0.9c1.1-0.7,1.9-1.8,2.3-3.1c-1,0.6-2.1,1.1-3.4,1.4c-1-1.1-2.3-1.8-3.8-1.8    c-2.9,0-5.3,2.5-5.3,5.7c0,0.4,0,0.9,0.1,1.3c-4.4-0.2-8.3-2.5-10.9-5.9c-0.5,0.8-0.7,1.8-0.7,2.9c0,2,0.9,3.7,2.3,4.7    c-0.9,0-1.7-0.3-2.4-0.7c0,0,0,0.1,0,0.1c0,2.7,1.8,5,4.2,5.6c-0.4,0.1-0.9,0.2-1.4,0.2c-0.3,0-0.7,0-1-0.1    c0.7,2.3,2.6,3.9,4.9,3.9c-1.8,1.5-4.1,2.4-6.5,2.4c-0.4,0-0.8,0-1.3-0.1c2.3,1.6,5.1,2.6,8.1,2.6c9.7,0,15-8.6,15-16.1    c0-0.2,0-0.5,0-0.7C35.2,17.6,36.1,16.6,36.8,15.4z" fill="#FFFFFF"/></g></g></svg>
                            </a>-->
                            <a href="https://www.instagram.com/explore/tags/fraternitywithoutborders/?hl=en" target="_blank">
                                <svg height="67px" x="60" id="Layer_2" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 130 130" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="24" cy="24" fill="#E50748" r="22"/><path d="M31.2,12.3H16.8c-2.5,0-4.5,2-4.5,4.5v4.8v9.6c0,2.5,2,4.5,4.5,4.5h14.4c2.5,0,4.5-2,4.5-4.5v-9.6v-4.8  C35.7,14.3,33.7,12.3,31.2,12.3z M32.5,15l0.5,0v0.5V19l-4,0l0-4L32.5,15z M20.7,21.6c0.7-1,2-1.7,3.3-1.7s2.6,0.7,3.3,1.7  c0.5,0.7,0.8,1.5,0.8,2.4c0,2.3-1.9,4.1-4.1,4.1s-4.1-1.8-4.1-4.1C19.9,23.1,20.2,22.3,20.7,21.6z M33.4,31.2c0,1.2-1,2.2-2.2,2.2  H16.8c-1.2,0-2.2-1-2.2-2.2v-9.6h3.5c-0.3,0.7-0.5,1.6-0.5,2.4c0,3.5,2.9,6.4,6.4,6.4c3.5,0,6.4-2.9,6.4-6.4c0-0.8-0.2-1.7-0.5-2.4  h3.5V31.2z" fill="#FFFFFF"/></svg>
                            </a>
                        </svg>
                    </a>
                </svg>
            </div>
        </div>
        <span id="menu_vertical" onclick="openNav()" class="fa fa-bars"></span>
    </div>
</nav>
<div id="canvas">

    <div class="zoom-icon zoom-icon-in"></div>

    <div class="magazine-viewport">
        <div class="container">
            <div class="magazine">
                <!-- Next button -->
                <div ignore="1" class="next-button"></div>
                <!-- Previous button -->
                <div ignore="1" class="previous-button"></div>
            </div>
        </div>
    </div>

    <!-- Thumbnails -->
    <div class="thumbnails">
        <div>
            <ul>
                <li class="i">
                    <img src="pages/1.jpg" width="76" height="100" class="page-1">
                    <span>1</span>
                </li>
                <li class="d">
                    <img src="pages/2-thumb.jpg" width="76" height="100" class="page-2">
                    <img src="pages/3-thumb.jpg" width="76" height="100" class="page-3">
                    <button style="position:absolute;bottom:0"></button>
                    <span>2-3</span>
                </li>
                <li class="d">
                    <img src="pages/4-thumbs.jpg" width="76" height="100" class="page-4">
                    <img src="pages/5-thumb.jpg" width="76" height="100" class="page-5">
                    <span>4-5</span>
                </li>
                <li class="d">
                    <img src="pages/6-thumb.jpg" width="76" height="100" class="page-6">
                    <span>6</span>
                </li>

            </ul>

            <div>
            </div>

        </div>
    </div>
</div>
<div class="event-donation-container">
    <div class="donate-button-container">
        <a  href="donate.html#second-section" class="btn btn-default ">Click to Donate</a>
    </div>
</div>
<div class="carousel-container">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="pages/1.jpg" alt="First slide" width="100%" height="auto">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="pages/2.jpg" alt="Second slide" width="100%" height="auto">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="pages/3.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../js/modernizr.2.5.3.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript">

            var bookwidth;
            var bookheight;

            if (window.innerWidth < 1900){

                bookwidth = 680;

                bookheight =480;

            }

            else{

                bookwidth = 922;

                bookheight = 600;


            }

            function loadApp() {

                $('#canvas').fadeIn(1000);

                var flipbook = $('.magazine');

                // Check if the CSS was already loaded

                if (flipbook.width()==0 || flipbook.height()==0) {
                    setTimeout(loadApp, 10);
                    return;
                }

                // Create the flipbook

                flipbook.turn({

                    // Magazine width

                    width: bookwidth,

                    // Magazine height

                    height: bookheight,

                    // Duration in millisecond

                    duration: 1000,

                    // Hardware acceleration

                    acceleration: !isChrome(),

                    // Enables gradients

                    gradients: true,

                    // Auto center this flipbook

                    autoCenter: true,

                    // Elevation from the edge of the flipbook when turning a page

                    elevation: 50,

                    // The number of pages

                    pages: 6,

                    // Events

                    when: {
                        turning: function(event, page, view) {

                            var book = $(this),
                                currentPage = book.turn('page'),
                                pages = book.turn('pages');

                            // Update the current URI

                            Hash.go('page/' + page).update();

                            // Show and hide navigation buttons

                            disableControls(page);


                            $('.thumbnails .page-'+currentPage).
                            parent().
                            removeClass('current');

                            $('.thumbnails .page-'+page).
                            parent().
                            addClass('current');



                        },

                        turned: function(event, page, view) {

                            disableControls(page);

                            $(this).turn('center');

                            if (page==1) {
                                $(this).turn('peel', 'br');
                            }

                        },

                        missing: function (event, pages) {

                            // Add pages that aren't in the magazine

                            for (var i = 0; i < pages.length; i++)
                                addPage(pages[i], $(this));

                        }
                    }

                });

                // Zoom.js

                $('.magazine-viewport').zoom({
                    flipbook: $('.magazine'),

                    max: function() {

                        return largeMagazineWidth()/$('.magazine').width();

                    },

                    when: {

                        swipeLeft: function() {

                            $(this).zoom('flipbook').turn('next');

                        },

                        swipeRight: function() {

                            $(this).zoom('flipbook').turn('previous');

                        },

                        resize: function(event, scale, page, pageElement) {

                            if (scale==1)
                                loadSmallPage(page, pageElement);
                            else
                                loadLargePage(page, pageElement);

                        },

                        zoomIn: function () {

                            $('.thumbnails').hide();
                            $('.made').hide();
                            $('.magazine').removeClass('animated').addClass('zoom-in');
                            $('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');

                            if (!window.escTip && !$.isTouch) {
                                escTip = true;

                                $('<div />', {'class': 'exit-message'}).
                                html('<div>Press ESC to exit</div>').
                                appendTo($('body')).
                                delay(2000).
                                animate({opacity:0}, 500, function() {
                                    $(this).remove();
                                });
                            }
                        },

                        zoomOut: function () {

                            $('.exit-message').hide();
                            $('.thumbnails').fadeIn();
                            $('.made').fadeIn();
                            $('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');

                            setTimeout(function(){
                                $('.magazine').addClass('animated').removeClass('zoom-in');
                                resizeViewport();
                            }, 0);

                        }
                    }
                });

                // Zoom event

                if ($.isTouch)
                    $('.magazine-viewport').bind('zoom.doubleTap', zoomTo);
                else
                    $('.magazine-viewport').bind('zoom.tap', zoomTo);


                // Using arrow keys to turn the page

                $(document).keydown(function(e){

                    var previous = 37, next = 39, esc = 27;

                    switch (e.keyCode) {
                        case previous:

                            // left arrow
                            $('.magazine').turn('previous');
                            e.preventDefault();

                            break;
                        case next:

                            //right arrow
                            $('.magazine').turn('next');
                            e.preventDefault();

                            break;
                        case esc:

                            $('.magazine-viewport').zoom('zoomOut');
                            e.preventDefault();

                            break;
                    }
                });

                // URIs - Format #/page/1

                Hash.on('^page\/([0-9]*)$', {
                    yep: function(path, parts) {
                        var page = parts[1];

                        if (page!==undefined) {
                            if ($('.magazine').turn('is'))
                                $('.magazine').turn('page', page);
                        }

                    },
                    nop: function(path) {

                        if ($('.magazine').turn('is'))
                            $('.magazine').turn('page', 1);
                    }
                });


                $(window).resize(function() {
                    resizeViewport();
                }).bind('orientationchange', function() {
                    resizeViewport();
                });

                // Events for thumbnails

                $('.thumbnails').click(function(event) {

                    var page;

                    if (event.target && (page=/page-([0-9]+)/.exec($(event.target).attr('class'))) ) {

                        $('.magazine').turn('page', page[1]);
                    }
                });

                $('.thumbnails li').
                bind($.mouseEvents.over, function() {

                    $(this).addClass('thumb-hover');

                }).bind($.mouseEvents.out, function() {

                    $(this).removeClass('thumb-hover');

                });

                if ($.isTouch) {

                    $('.thumbnails').
                    addClass('thumbanils-touch').
                    bind($.mouseEvents.move, function(event) {
                        event.preventDefault();
                    });

                } else {

                    $('.thumbnails ul').mouseover(function() {

                        $('.thumbnails').addClass('thumbnails-hover');

                    }).mousedown(function() {

                        return false;

                    }).mouseout(function() {

                        $('.thumbnails').removeClass('thumbnails-hover');

                    });

                }


                // Regions

                if ($.isTouch) {
                    $('.magazine').bind('touchstart', regionClick);
                } else {
                    $('.magazine').click(regionClick);
                }

                // Events for the next button

                $('.next-button').bind($.mouseEvents.over, function() {

                    $(this).addClass('next-button-hover');

                }).bind($.mouseEvents.out, function() {

                    $(this).removeClass('next-button-hover');

                }).bind($.mouseEvents.down, function() {

                    $(this).addClass('next-button-down');

                }).bind($.mouseEvents.up, function() {

                    $(this).removeClass('next-button-down');

                }).click(function() {

                    $('.magazine').turn('next');

                });

                // Events for the next button

                $('.previous-button').bind($.mouseEvents.over, function() {

                    $(this).addClass('previous-button-hover');

                }).bind($.mouseEvents.out, function() {

                    $(this).removeClass('previous-button-hover');

                }).bind($.mouseEvents.down, function() {

                    $(this).addClass('previous-button-down');

                }).bind($.mouseEvents.up, function() {

                    $(this).removeClass('previous-button-down');

                }).click(function() {

                    $('.magazine').turn('previous');

                });


                resizeViewport();

                $('.magazine').addClass('animated');

            }

            // Zoom icon

            $('.zoom-icon').bind('mouseover', function() {

                if ($(this).hasClass('zoom-icon-in'))
                    $(this).addClass('zoom-icon-in-hover');

                if ($(this).hasClass('zoom-icon-out'))
                    $(this).addClass('zoom-icon-out-hover');

            }).bind('mouseout', function() {

                if ($(this).hasClass('zoom-icon-in'))
                    $(this).removeClass('zoom-icon-in-hover');

                if ($(this).hasClass('zoom-icon-out'))
                    $(this).removeClass('zoom-icon-out-hover');

            }).bind('click', function() {

                if ($(this).hasClass('zoom-icon-in'))
                    $('.magazine-viewport').zoom('zoomIn');
                else if ($(this).hasClass('zoom-icon-out'))
                    $('.magazine-viewport').zoom('zoomOut');

            });

            $('#canvas').hide();


            // Load the HTML4 version if there's not CSS transform

            yepnope({
                test : Modernizr.csstransforms,
                yep: ['../js/turnjs4/lib/turn.min.js'],
                nope: ['../js/turnjs4/lib/turn.html4.min.js'],
                both: ['../js/turnjs4/lib/zoom.min.js', '../js/magazine.js', '../css/magazine.css'],
                complete: loadApp
            });

        </script>



<script src="../js/main.js"></script>


<script type="text/javascript" src="../js/turnjs4/extras/jquery.min.1.7.js"></script>
<script src="../js/turnjs4/lib/turn.js"></script>
<script type="text/javascript" src="../js/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="../js/turnjs4/lib/hash.js"></script>
<script src="../js/fullPage.js-master/dist/jquery.fullpage.js"></script>

</body>



</html>