<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Event | FRATERNITY WITHOUT BORDERS</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112810572-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-112810572-1');
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is the who we are page, on this page you will be able to learn more about our charity and where do we come from">
        <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../js/fullPage.js-master/dist/jquery.fullpage.css">
        <link rel="stylesheet" type="text/css" href="../css/overlay.css">
        <link rel="stylesheet" type="text/css" href="../css/resolution_adjustments.css">
        <link rel="stylesheet" type="text/css" href="../css/font-awesome-4.7.0/css/font-awesome.css">

</head>
<body style="background:black;">
<nav >
    <div id="navigationbar">
        <a href="../" target="_blank">
            <img id="logo" src="../resources/logo.png" alt="Charity Logo">
        </a>
        <h1 id="quote">one people, one heart</h1>
        <div id="menulist">
            <ul>
                <li><a href="contact.html">CONTACT<hr></a></li>
                <li><a href="http://www.fraternitywithoutbordersauction.co.uk/" target="_blank">FUNDRAISING AUCTION</a></li>
                <li><a href="events.html">RECENT NEWS<hr></a></li>
                <li><a href="donate.html">DONATE<hr></a></li>
                <li><a href="our_work.html">OUR WORK<hr></a></li>
                <li><a href="who_we_are.html">WHO WE ARE<hr></a></li>
                <li><a href="../">HOME<hr></a></li>

            </ul>
        </div>
        <svg width="120" height="25" id="social_media">
            <a href="https://www.facebook.com/fraternitywithoutborders/"  target="_blank">
                <svg height="67px" id="Layer_1" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle cx="34" cy="34" fill="white" r="22"/>
      <path d="M29.765,50.32h6.744V33.998h4.499l0.596-5.624h-5.095  l0.007-2.816c0-1.466,0.14-2.253,2.244-2.253h2.812V17.68h-4.5c-5.405,0-7.307,2.729-7.307,7.317v3.377h-3.369v5.625h3.369V50.32z   M34,64C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#A71880;"/></svg>
            </a>
            <a href="https://uk.linkedin.com/company/fraternidade-sem-fronteiras" target="_blank">
                <svg height="67px" x="30"  id="Layer_4" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle cx="34" cy="34" fill="white" r="22"/>
      <path d="M50.837,48.137V36.425c0-6.275-3.35-9.195-7.816-9.195  c-3.604,0-5.219,1.983-6.119,3.374V27.71h-6.79c0.09,1.917,0,20.427,0,20.427h6.79V36.729c0-0.609,0.044-1.219,0.224-1.655  c0.49-1.22,1.607-2.483,3.482-2.483c2.458,0,3.44,1.873,3.44,4.618v10.929H50.837z M22.959,24.922c2.367,0,3.842-1.57,3.842-3.531  c-0.044-2.003-1.475-3.528-3.797-3.528s-3.841,1.524-3.841,3.528c0,1.961,1.474,3.531,3.753,3.531H22.959z M34,64  C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z M26.354,48.137V27.71h-6.789v20.427  H26.354z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#3396BB;"/></svg>
            </a>
            <a href="https://www.instagram.com/explore/tags/fraternitywithoutborders/?hl=en" target="_blank">
                <svg height="67px" x="60" id="Layer_2" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 130 130" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    	<circle cx="24" cy="24" fill="#E50748" r="22"/><path d="M31.2,12.3H16.8c-2.5,0-4.5,2-4.5,4.5v4.8v9.6c0,2.5,2,4.5,4.5,4.5h14.4c2.5,0,4.5-2,4.5-4.5v-9.6v-4.8  C35.7,14.3,33.7,12.3,31.2,12.3z M32.5,15l0.5,0v0.5V19l-4,0l0-4L32.5,15z M20.7,21.6c0.7-1,2-1.7,3.3-1.7s2.6,0.7,3.3,1.7  c0.5,0.7,0.8,1.5,0.8,2.4c0,2.3-1.9,4.1-4.1,4.1s-4.1-1.8-4.1-4.1C19.9,23.1,20.2,22.3,20.7,21.6z M33.4,31.2c0,1.2-1,2.2-2.2,2.2  H16.8c-1.2,0-2.2-1-2.2-2.2v-9.6h3.5c-0.3,0.7-0.5,1.6-0.5,2.4c0,3.5,2.9,6.4,6.4,6.4c3.5,0,6.4-2.9,6.4-6.4c0-0.8-0.2-1.7-0.5-2.4  h3.5V31.2z" fill="#FFFFFF"/></svg>
            </a>
        </svg>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="../">HOME</a>
                <a href="who_we_are.html">WHO WE ARE</a>
                <a href="our_work.html">OUR WORK</a>
                <a href="donate.html">DONATE</a>
                <a href="events.html">RECENT NEWS</a>
                <a href="http://www.fraternitywithoutbordersauction.co.uk/" target="_blank">FUNDRAISING AUCTION</a>
                <a href="contact.html">CONTACT</a>
                <svg width="120" height="25" id="social_media_2">
                    <a href="https://www.facebook.com/fraternitywithoutborders/"  target="_blank">
                        <svg width="120" height="25" id="social_media_2">
                            <a href="https://www.facebook.com/fraternitywithoutborders/"  target="_blank">
                                <svg height="67px" id="Layer_1" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="34" cy="34" fill="white" r="22"/>
          <path d="M29.765,50.32h6.744V33.998h4.499l0.596-5.624h-5.095  l0.007-2.816c0-1.466,0.14-2.253,2.244-2.253h2.812V17.68h-4.5c-5.405,0-7.307,2.729-7.307,7.317v3.377h-3.369v5.625h3.369V50.32z   M34,64C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#A71880;"/></svg>
                            </a>
                            <a href="https://uk.linkedin.com/company/fraternidade-sem-fronteiras" target="_blank">
                                <svg height="67px" x="30"  id="Layer_4" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 180 180" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="34" cy="34" fill="white" r="22"/>
          <path d="M50.837,48.137V36.425c0-6.275-3.35-9.195-7.816-9.195  c-3.604,0-5.219,1.983-6.119,3.374V27.71h-6.79c0.09,1.917,0,20.427,0,20.427h6.79V36.729c0-0.609,0.044-1.219,0.224-1.655  c0.49-1.22,1.607-2.483,3.482-2.483c2.458,0,3.44,1.873,3.44,4.618v10.929H50.837z M22.959,24.922c2.367,0,3.842-1.57,3.842-3.531  c-0.044-2.003-1.475-3.528-3.797-3.528s-3.841,1.524-3.841,3.528c0,1.961,1.474,3.531,3.753,3.531H22.959z M34,64  C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z M26.354,48.137V27.71h-6.789v20.427  H26.354z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#3396BB;"/></svg>
                            </a>
                            <!--<a href="https://twitter.com/" target="_blank">
                            <svg height="67px" x="60" id="Layer_2" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 130 130" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle cx="24" cy="24" fill="#FECD02" r="22"/><g><g><path d="M36.8,15.4c-0.9,0.5-2,0.8-3,0.9c1.1-0.7,1.9-1.8,2.3-3.1c-1,0.6-2.1,1.1-3.4,1.4c-1-1.1-2.3-1.8-3.8-1.8    c-2.9,0-5.3,2.5-5.3,5.7c0,0.4,0,0.9,0.1,1.3c-4.4-0.2-8.3-2.5-10.9-5.9c-0.5,0.8-0.7,1.8-0.7,2.9c0,2,0.9,3.7,2.3,4.7    c-0.9,0-1.7-0.3-2.4-0.7c0,0,0,0.1,0,0.1c0,2.7,1.8,5,4.2,5.6c-0.4,0.1-0.9,0.2-1.4,0.2c-0.3,0-0.7,0-1-0.1    c0.7,2.3,2.6,3.9,4.9,3.9c-1.8,1.5-4.1,2.4-6.5,2.4c-0.4,0-0.8,0-1.3-0.1c2.3,1.6,5.1,2.6,8.1,2.6c9.7,0,15-8.6,15-16.1    c0-0.2,0-0.5,0-0.7C35.2,17.6,36.1,16.6,36.8,15.4z" fill="#FFFFFF"/></g></g></svg>
                            </a>-->
                            <a href="https://www.instagram.com/explore/tags/fraternitywithoutborders/?hl=en" target="_blank">
                            <svg height="67px" x="60" id="Layer_2" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 130 130" width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="24" cy="24" fill="#E50748" r="22"/><path d="M31.2,12.3H16.8c-2.5,0-4.5,2-4.5,4.5v4.8v9.6c0,2.5,2,4.5,4.5,4.5h14.4c2.5,0,4.5-2,4.5-4.5v-9.6v-4.8  C35.7,14.3,33.7,12.3,31.2,12.3z M32.5,15l0.5,0v0.5V19l-4,0l0-4L32.5,15z M20.7,21.6c0.7-1,2-1.7,3.3-1.7s2.6,0.7,3.3,1.7  c0.5,0.7,0.8,1.5,0.8,2.4c0,2.3-1.9,4.1-4.1,4.1s-4.1-1.8-4.1-4.1C19.9,23.1,20.2,22.3,20.7,21.6z M33.4,31.2c0,1.2-1,2.2-2.2,2.2  H16.8c-1.2,0-2.2-1-2.2-2.2v-9.6h3.5c-0.3,0.7-0.5,1.6-0.5,2.4c0,3.5,2.9,6.4,6.4,6.4c3.5,0,6.4-2.9,6.4-6.4c0-0.8-0.2-1.7-0.5-2.4  h3.5V31.2z" fill="#FFFFFF"/></svg>
                    </a>
                </svg>
                    </a>
                </svg>
            </div>
        </div>
        <span id="menu_vertical" onclick="openNav()" class="fa fa-bars"></span>
    </div>
</nav>



</div>
<div class="carousel-container" >

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="pages/1.jpg" alt="First slide" width="100%" height="auto">
            </div>
            <div class="carousel-item">
                <div class="exhibit-text-mobile">
                    <h2>meet the charity</h2>
                    <ul class="exhibit-list">
                    <li><p>Fraternity Without Borders is a charity registered in the
                        UK caring for one of the poorest regions of the world:
                        Mozambique. We have been working on the ground since 2009
                        where hunger, misery and helplessness make new innocent
                        victims every day.</p></li>
                    <li><b><p>A selection of photographs showcasing Fraternity without
                        Borders’ work will be exhibited from 20-29th March 2018 at the
                        Brazilian Embassy in London. The charity has also been invited
                        to participate in a fashion show in London on 23rd March 2018.</p></b></li>
                    <li><b><p>All funds raised through online auctions and donations will be
                        invested in our social projects in Mozambique.</p></b></li>

                    <li><p>Click on the link below to get to know more about our work:</p></li>
                    <li><a href="https://www.youtube.com/watch?v=ebVg1j6_Zc4" target="_blank">https://www.youtube.com/watch?v=ebVg1j6_Zc4</a></li>
                    </ul>
                </div>
                <img class="d-block w-100" src="../img/customevents/exibition2.jpg" alt="Second slide" width="100%" height="auto">

            </div>
            <div class="carousel-item">
                <div class="exhibit-text-mobile">
                    <h2>meet the graffiti artist</h2>
                    <ul class="exhibit-list">
                        <li><p>Gustavo Nenão is an internationally renowned street artist. His career spans
                            over 24 years with projects registered in 23 countries.
                            His career highlights include a joint exhibition in NY by invitation of the
                            former American first lady Michelle Obama. His clients include the
                            football player Thierry Henry and
                            the Brazilian celebrities Chiquinho Scarpa, Xuxa, Marcelo D2, Fabio Porchat,
                            Ana Maria Braga and many more. </p></li>
                        <li><a href="https://www.gustavonenao.com/clipping" target="_blank">https://www.gustavonenao.com/clipping</a></li>
                        <li><b><p>Nenão will be performing a live graffiti art on canvas during the exhibition opening, which will live
                            streamed on the 20th March from 6-10pm UK time. He will also perform live in a fashion show for Not Just
                            Yoga in London on the 22rd March 2018 from 7-10pm.</p></b></li>
                        <li><a href="http://notjustyoga.co.uk/travel-in-style-2/" target="_blank">http://notjustyoga.co.uk/travel-in-style-2/</a></li>
                        <li><b><p>The canvasses produced in both events will be on auction online and all funds raised
                            will be donated to Fraternity without Borders. </p></b></li>
                    </ul>
                </div>
                <img class="d-block w-100" src="../img/customevents/exibition3.jpg" alt="Third slide" width="100%" height="auto">
            </div>
            <div class="carousel-item">
                <div class="exhibit-text-mobile">
                    <h2>meet the photographers</h2>
                    <ul class="exhibit-list">
                        <li><p>Alisson Demetrio is a professional music photographer  and the
                            official photographer of the internationally acclaimed DJ Alok.</p>
                        </li><li><p>His career highlights include clicks for the DJ David Guetta
                        and Armin Van Buuren and many music festivals, including  Tomorrowland in Belgium,
                        UltraMusic in the US and the biggest Brazilian festivals such as Tribe, Tribal Tech,
                        Lollapalooza, VillaMix, Planeta Atlântida and more. </p></li>
                        <li><a href="http://www.alissondemetrio.com/" target="_blank">http://www.alissondemetrio.com/</a></li>
                        <li><b><p>Alisson travelled to Mozambique in an official tour with DJ Alok for Fraternity without Borders.
                            A selection of his work will be on show at the photography exhibition in London. </p></b></li>

                        <li><b><p>His work will be on auction online. 100% of the funds raised will
                            be donated to Fraternity without Borders. </p></b></li>
                    </ul>
                </div>
                <img class="d-block w-100" src="../img/customevents/exibition4.jpg" alt="Second slide" width="100%" height="auto">
            </div>
            <div class="carousel-item">
                <div class="exhibit-text-mobile">
                    <h2>meet the photographers</h2>
                    <ul class="exhibit-list">
                        <li><p>Felipe Torres and Fernanda Calixto are amateur photographers from Brazil and
                            sponsors of Fraternity without Borders. Their work presents a heart-warming portrait
                            of the realities of Mozambique as well as a message of hope from the work in progress
                            by Fraternity without Borders.</p>
                        </li><li><p>The showcase of their beautiful and very personal images is our homage to the hundreds
                        of volunteers who travel to Africa in our humanitarian missions every year. Without them it would have
                        been impossible to feed and support more than 9000 children, adults and elderly people. </p></li>
                        <li><b><p>A selection of Felipe and Fernanda’s work will be on show at the photography exhibition in London.
                            All photographs will be on sale in an online fundraising auction for Fraternity without Borders. </p></b></li>

                    </ul>
                </div>
                <img class="d-block w-100" src="../img/customevents/exibition5.jpg" alt="Third slide" width="100%" height="auto">
            </div>
            <div class="carousel-item">
                <div class="exhibit-text-mobile">
                    <ul class="exhibit-list">
                        <li><b><p>For exhibition tickets please click on the link below:</p></b>
                        <li><a href="https://photographicexhibitionfwb.eventbrite.co.uk" target="_blank">https://photographicexhibitionfwb.eventbrite.co.uk</a></li>
                        <li><b><p>General enquiries:</p></b></li>
                        <li><a href="mailto:info@fraternitywithoutborders.co.uk" target="_blank">info@fraternitywithoutborders.co.uk</a></li>
                        <li><b><p>Marketing, advertising and sponsorship enquiries:</p></b></li>
                        <li><a href="mailto:cristine.balarine@fraternitywithoutborders.co.uk" target="_blank">cristine.balarine@fraternitywithoutborders.co.uk</a></li>

                    </ul>
                </div>
                <img class="d-block w-100" src="../img/customevents/exibition6.jpg" alt="Third slide" width="100%" height="auto">
                <div class="event-donation-container bottom" >
                    <div class="donate-button-container bottom"  >
                        <a  href="donate.html#second-section" class="btn btn-default ">Donate</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<div class="event-donation-container">
    <div class="donate-button-container">
        <a  href="donate.html#second-section" class="btn btn-default ">Donate</a>
    </div>
</div>

</div>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../js/modernizr.2.5.3.min.js"></script>


<script src="../js/main.js"></script>


<script type="text/javascript" src="../js/turnjs4/extras/jquery.min.1.7.js"></script>
<script src="../js/turnjs4/lib/turn.js"></script>
<script type="text/javascript" src="../js/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="../js/turnjs4/lib/hash.js"></script>
<script src="../js/fullPage.js-master/dist/jquery.fullpage.js"></script>

</body>



</html>